body {
    font-family: 'Lato', sans-serif;
    background-image: url("../images/morocco.png");
    color: slategray;
}

.container {
    margin-top: 20px;
    background-color: white;
    border: solid;
    border-color: lightblue;
}

h1 {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#instructionBox {
    margin: 20px;
    text-align: justify;
}

#scoringBox {
    margin: 40px;
}

button {
    margin-bottom: 20px;
    object-fit: contain;
}

.image {
    height: 200px;
    width: 100%;
}

#crystalAlert {
    text-align: center;
    margin-top: 20px;
}
#winAlert {
    text-align: center;
    margin-top: 20px;
}

#lossAlert {
    text-align: center;
    margin-top: 20px;
}